.kg-image-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
.kg-gallery-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

figcaption{
    text-align: center;
}

.kg-file-card-icon{
    max-width: 10%;
    max-height: 10%;
}