.kg-image-card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.kg-gallery-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

figcaption{
    text-align: center;
}