@font-face {
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.image-col-left img {
    float: left;
    width: 22%;
    height: auto;
    margin-bottom: 4rem;
    margin-left: 3.1rem;
}

.image-col-right img {
    width: 22%;
    height: auto;
    margin-left: 2rem;
}


.zammad-chat {
    color: black;
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 12px;
    width: 30em;
    height: 3.5em;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
    will-change: bottom;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 999;
}
@media only screen and (max-width: 768px) {
    .zammad-chat {
        right: 0;
        width: 100%;
        border-radius: 0 !important;
        font-size: 16px !important;
    }
    .zammad-chat-header-icon-open {
        margin-top: -2rem!important;
    }
}
.zammad-chat--animate {
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

.zammad-chat.zammad-chat-is-loaded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
}

.zammad-chat.zammad-chat-is-shown {
    opacity: 1;
}

.zammad-chat.zammad-chat-is-open {
    height: 30em;
}
@media only screen and (max-width: 768px) {
    .zammad-chat.zammad-chat-is-open {
        height: 100%;
    }
}

.zammad-chat-icon {
    height: 2em;
    width: 2em;
    fill: currentColor;
    vertical-align: top;
    margin-right: 5px;
    margin-top: 4px;
    float: left;
}

.zammad-chat-header {
    padding: 0.5em 2.5em 0.5em 1em;
    background: hsl(203deg, 67%, 53%);
    color: white;
    line-height: 2.5em;
    height: 3.5em;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.13);
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.3) inset, 0 -1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.13);
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .zammad-chat-header {
        border-radius: 0 !important;
    }
}

.zammad-chat.zammad-chat-is-open .zammad-chat-header {
    cursor: default;
}

.zammad-chat-welcome-text {
    margin-left: 5px;
    font-size: 1.2em;
    float: left;
}

.zammad-chat-header-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3.4em;
    text-align: center;
    line-height: 3.4em;
    cursor: pointer;
}
.zammad-chat-header-icon::before {
    content: "";
    display: inline-block;
}

.zammad-chat-header-icon-open,
.zammad-chat-header-icon-close {
    fill: currentColor;
    width: 1.6em;
    height: auto;
    vertical-align: middle;
    margin-top: -1.4rem;
}

.zammad-chat-header-icon-close {
    width: 1.3em;
    margin-top: -0.5em;
}

.zammad-chat-header-icon-close,
.zammad-chat.zammad-chat-is-open .zammad-chat-header-icon-open {
    display: none;
}

.zammad-chat.zammad-chat-is-open .zammad-chat-header-icon-close {
    display: inline;
}

.zammad-chat-agent {
    float: left;
}

.zammad-chat-header-controls {
    float: right;
}

.zammad-chat-agent-avatar {
    border-radius: 100%;
    margin-right: 0.6em;
    float: left;
    width: 2.5em;
}

.zammad-chat-agent-name {
    font-weight: bold;
}

.zammad-chat-agent-status {
    margin: 0.25em 1em;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.7em;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04) inset;
}

.zammad-chat-agent-status::before {
    content: "";
    background: hsl(19deg, 90%, 51%);
    display: inline-block;
    height: 0.9em;
    width: 0.9em;
    border-radius: 100%;
    position: relative;
    margin-right: 0.3em;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04) inset;
}

.zammad-chat-agent-status[data-status=online]::before {
    background: hsl(145deg, 51%, 55%);
}

.zammad-chat-agent-status[data-status=connecting]::before {
    -webkit-animation: linear connect-fade 600ms infinite alternate;
    animation: linear connect-fade 600ms infinite alternate;
    background: hsl(41deg, 100%, 49%);
}

@-webkit-keyframes connect-fade {
    from {
        opacity: 0.5;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes connect-fade {
    from {
        opacity: 0.5;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.zammad-chat-modal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 3.5em;
    margin-top: 1px;
    text-align: center;
    background: white;
    z-index: 1;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.zammad-chat-modal:empty {
    display: none;
}

.zammad-chat-modal-text {
    font-size: 1.3em;
    line-height: 1.45;
}
.zammad-chat-modal-text .zammad-chat-loading-animation {
    font-size: 0.7em;
}
.zammad-chat-modal-text .zammad-chat-button {
    margin-top: 1em;
    font-size: 0.8em;
}

.zammad-chat-modal .zammad-chat-loading-animation {
    margin-right: 8px;
    vertical-align: middle;
}

.zammad-scroll-hint {
    background: hsl(210deg, 8%, 98%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsl(0deg, 0%, 91%);
    padding: 7px 10px 6px;
    color: hsl(0deg, 0%, 60%);
    cursor: pointer;
}
.zammad-scroll-hint.is-hidden {
    display: none;
}

.zammad-scroll-hint-icon {
    fill: hsl(210deg, 5%, 78%);
    margin-right: 8px;
}

.zammad-chat-body {
    padding: 0.5em 1em;
    overflow: auto;
    background: white;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: none;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}
@media only screen and (max-width: 768px) {
    .zammad-chat-body {
        height: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.zammad-chat-is-open .zammad-chat-body {
    display: block;
}

.zammad-chat-timestamp {
    text-align: center;
    color: hsl(0deg, 0%, 60%);
    font-size: 0.9em;
    margin: 1em 0;
}

.zammad-chat-status {
    margin: 1em 0;
    text-align: center;
}

.zammad-chat-message {
    margin: 0.5em 0;
}

.zammad-chat-message-body {
    white-space: pre-line;
    word-wrap: break-word;
    border-radius: 1em;
}

.zammad-chat-status-inner,
.zammad-chat-message-body {
    padding: 0.5em 1em;
    line-height: 1.4;
    background: hsl(0deg, 0%, 93%);
    display: inline-block;
    max-width: 70%;
    -webkit-box-shadow: 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.08) inset, 0 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.08) inset, 0 1px rgba(0, 0, 0, 0.02);
}

.zammad-chat-status-inner {
    background: #eee;
    border-radius: 0.5em;
}

.zammad-chat-message--customer {
    text-align: right;
}

.zammad-chat-message--customer + .zammad-chat-message--agent,
.zammad-chat-message--agent + .zammad-chat-message--customer {
    margin-top: 1em;
}

.zammad-chat-message--customer .zammad-chat-message-body {
    background: hsl(203deg, 67%, 53%);
    color: white;
}

.zammad-chat-message--unread {
    font-weight: bold;
}

.zammad-chat-message--typing .zammad-chat-message-body {
    white-space: normal;
}

.zammad-chat-loading-animation {
    display: inline-block;
}

.zammad-chat-loading-circle {
    background: hsl(0deg, 0%, 85%);
    border-radius: 100%;
    height: 0.55em;
    width: 0.55em;
    display: inline-block;
    -webkit-animation: ease-in-out load-fade 600ms infinite alternate;
    animation: ease-in-out load-fade 600ms infinite alternate;
}

.zammad-chat-loading-circle + .zammad-chat-loading-circle {
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
}

.zammad-chat-loading-circle + .zammad-chat-loading-circle + .zammad-chat-loading-circle {
    -webkit-animation-delay: 0.26s;
    animation-delay: 0.26s;
}

@-webkit-keyframes load-fade {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    67% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes load-fade {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    67% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.zammad-chat-controls {
    overflow: hidden;
    display: none;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-top: 1px solid hsl(0deg, 0%, 93%);
    padding: 0;
    margin: 0;
    line-height: 1.4em;
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.01), 0 -1px rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px rgba(0, 0, 0, 0.01), 0 -1px rgba(0, 0, 0, 0.02);
    position: relative;
    background: white;
}

.zammad-chat-is-open .zammad-chat-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.zammad-chat-input {
    margin: 0;
    padding: 1em 2em;
    float: left;
    max-height: 6em;
    min-height: 1.4em;
    font-family: inherit;
    line-height: 1.4em;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

.zammad-chat-input::-webkit-input-placeholder {
    color: hsl(0deg, 0%, 85%);
}

.zammad-chat-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    line-height: initial;
    background: hsl(203deg, 67%, 53%);
    color: white;
    padding: 0.5em 1.2em;
    margin: 0.63em 1em;
    cursor: pointer;
    border: none;
    border-radius: 1.5em;
    -webkit-box-shadow: 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px rgba(0, 0, 0, 0.1);
    outline: none;
    display: inline-block;
}

.zammad-chat-send {
    float: right;
}

.zammad-chat-button:disabled,
.zammad-chat-input:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.zammad-chat-is-hidden {
    display: none;
}

/*
  # Flat Design
*/
.zammad-chat--flat .zammad-chat-header,
.zammad-chat--flat .zammad-chat-body {
    border: none;
}

.zammad-chat--flat .zammad-chat-header {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.zammad-chat--flat .zammad-chat-message-body {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.zammad-chat--flat .zammad-chat-agent-status,
.zammad-chat--flat .zammad-chat-button,
.zammad-chat--flat .zammad-chat-status {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* iphone portrait */

@media all and (max-device-width: 480px) and (orientation: portrait) {

    .wrap-lname{
        max-width: 150px!important;
        display: inline-block;
        float: left;
    }


    #homebtnContact{
        font-size: 13px!important;
    }
    .wrap-fname{
        max-width: 150px!important;
        display: inline-block;
        float: left;
    }

    .title-left h2{
        margin-left: 1rem !important;
    }
    .sidenav-right{
        margin-right: 0.7rem!important;
    }

    #mySidenav{
        height: 100vh;
    }
    .columnnav-2, .blog-content, .blog-nav, #blog-line{
        display: none;
    }

    .header-right{
        margin-right: 0.7rem;
    }

    .index-container img {
        max-height: 22rem!important;
    }

    .index-container .title-right h2 {
        margin-left: 0;
        max-width: none;
        margin-top: 2rem;
        margin-right: 0;
        display: block;
        font-size: 1.5rem;
    }

    #main .contact-title {
        font-size: 2rem;
    }

    .three-col-block h1{
        font-size: 1.4rem;
        font-weight: bold;
    }

    .contact-row{
        grid-template-columns: repeat(auto-fill,24rem)!important;
    }
    .three-col{
        grid-template-columns: repeat(auto-fill,24rem)!important;
        margin-left: 0.5rem!important;
    }

    .references-category{
        font-size: 1.5rem!important;
        margin-left:0px!important;
    }
    .lineblack-index{
        max-width: 22rem!important;
        margin-left: auto!important;
        margin-right: auto!important;
        clear: left!important;
    }

    #main .contact-subtitle {
        font-size: 1.5rem;
        margin-bottom: 0!important;
    }
    .title-row .title-left h1{
        font-size: 1.5rem;
        display: inline;
        margin-left: 1rem;
        max-width: 50%!important;
        margin-bottom: 2rem!important;

    }
    .title-row .title-left h1{
        font-size: 2rem;
        display: inline;
        margin-left: 1rem;
        max-width: 50%!important;
        margin-bottom: 2rem!important;

    }

    .index-container .lineblack-index{
        margin: 3rem auto 3rem;
    }

    .index-container .index-col-left a{
        font-size: 1.4rem;
    }

    .index-container .index-col-left h1{
        font-size: 1.4rem;
        font-weight: bold;
    }

    .fa-solid {
        font-size: 25px;
        margin-top: 7px;
    }

    .index-container .products-col-top h1{
        font-size: 1.4rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .index-container .index-col-left{
        margin-left: 0;
    }

    .navBlack a{
        font-size: 2.1rem!important;
    }

    .sidenav .sidenav-col .sidenav-left img {
        display: none;
    }

    #reused_form label{
        font-size: 0.8rem;
    }

    .form-container h1{
        font-size: 1.5rem;
    }

    .sidenav-dropbtn{
        margin-top: 1.855mm!important;
    }

    .index-container .index-col-right{
        margin-left: 0;
        width: 100%;
    }

    .index-container .under-section{
        margin-left: 0;
        width: 100%;
    }

    .index-container .under-section-col-right{
        margin-left: 0;
        width: 100%;
    }
    .linewhite{
        max-width: 22rem;
    }
    .col-footer{
        max-width: 20rem!important;
        margin-left: 0.5rem;
        margin-top: 20px!important;
    }

    .contact-left{
        margin-top: 0rem!important;
    }

    .contact-mid{
        margin-top: 1rem!important;
    }
    .header-left .logo img{
        display: none;
    }

    .row-footer{
        padding: 0!important;
        margin-left: 1rem!important;
        margin-top: 0!important;
        margin-right: -1rem!important;
        max-width: 90%!important;
    }

    .products-col-top{
        margin-left: 0!important;
    }

    .products-col-right{
        margin-left: 0!important;
        margin-right: 0!important;
        width: 100%!important;
    }

    .index-container{
        margin-top: 2rem;
    }
    .header-row{
        grid-template-columns: repeat(1,auto)!important;
    }

    .termsfeed-com---nb .cc-nb-main-container {
        padding: 3rem;
        max-height: 700px!important;
    }

    .termsfeed-com---nb .cc-nb-text {
        font-size: 14px!important;
    }

    .termsfeed-com---palette-light.termsfeed-com---nb {
        min-width: 100%!important;
    }


    .column-sidenav{
        margin-top: -40px;
    }

}


/* iPad portrait */
@media (min-device-width: 481px) and (max-device-width: 830px) and (orientation: portrait) {
    .logo{
        display: none;
    }

    .index-container .title-right h2 {
        margin-left: 0;
        max-width: none;
        margin-top: 3rem;
        margin-right: 0;
        display: block;
    }

    .title-row .title-left h1{
        font-size: 4rem;
        display: block;
        max-width: 700px;
    }

    .header-right{
        margin-right: 2.5rem;
    }
    .row-footer{
        max-width: 90% !important;
    }
}




@media (min-width: 1500px) {
    .header-row, row-footer {
        grid-template-columns: repeat(auto-fill, 20rem);
    }

    .row-footer {
        grid-template-columns: repeat(auto-fill, 20rem);
    }


}


body {
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    max-width: 1500px;
    font-family: "JetBrainsMono";
}


/*!*HEADER*!*/

.header-container {
    width: 100%;
    top: 1rem;
    font-family: "JetBrainsMono";
    margin-top: 10px;
    margin-bottom: 2rem;
}

.homebtnContact {
    height: 2.5rem;
    background-color: white;
    border: solid 1px black;
    font-family: "JetBrainsMono";
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    color: black;

}

.homebtnMeet {
    height: 2.5rem;
    background-color: white;
    border: solid 1px black;
    font-family: "JetBrainsMono";
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    color: black;
    border-left: 0px;

}

.homebtnMeet:hover {
    background-color: #111 !important;
    color: white;
    border: solid black 1px;
    border-left: 0px;
}

.homebtnContact:hover {
    background-color: #111 !important;
    color: white;
    border: solid black 1px;
}

.homebtnBurger {
    height: 2.5rem;
    background-color: white;
    border-left: solid 0;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    width: 3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

#homebtnLanguage {
    height: 2.5rem;
    background-color: white;
    border-left: solid 0;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    color: black;
    width: 3rem;
    margin-top: 0.5rem;
}

.dropbtn:hover {
    background-color: #111 !important;
    color: white;
    border: solid black 1px;
}

.header-container .header-left a .Logo, .sidenav-col .sidenav-left a .Logo {
    margin-left: 1rem;
    mix-blend-mode: difference;
}

.navbtnContact {
    height: 2.5rem;
    float: right;
    background-color: #111;
    border: solid white 1px;
    font-family: "JetBrainsMono";
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.navbtnMeet {
    height: 2.5rem;
    float: right;
    background-color: #111;
    border: solid white 1px;
    font-family: "JetBrainsMono";
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    border-left:0px;
}

.navbtnClose {
    height: 2.5rem;
    float: right;
    background-color: white;
    border-left: solid 0;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    width: 2.9rem;
    margin-right: 1rem;
}

.header-container-nav {

}


/*FOOTER*/
.row-footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    padding: 10px;
    margin-left: 3.2%;
    margin-top: 10px;
    margin-right: auto;
    max-width: 1500px;
    font-family: "JetBrainsMono";
    width: 100%;
}

.contact-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
}

.col-footer {
    max-width: 30rem;
    margin-top: 10px;
}

.col-footer-last {
    width: 40rem;
    margin-top: 10px;
}


.row-footer .col-footer .fa-linkedin {
    background: black;
    color: white;
    border-radius: 2rem;
}

.fa-youtube {
    background: black;
    color: white;
    border-radius: 2rem;
}

.fa-instagram {
    background: black;
    color: white;
    border-radius: 2rem;
}

.fa-spotify {
    background: black;
    color: white;
    border-radius: 2rem;
}

.fa {
    padding: 0.35rem;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.row-footer .col-footer .fa-linkedin {
    background: black;
    color: white;
    border-radius: 2rem;
}

.row-footer .col-footer .fa-youtube {
    background: black;
    color: white;
    border-radius: 2rem;
}

.row-footer .col-footer .fa-instagram {
    background: black;
    color: white;
    border-radius: 2rem;
}

.row-footer .col-footer .fa-spotify {
    background: black;
    color: white;
    border-radius: 2rem;
}


/*SIDENAVIGATION*/

.sidenav-col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
    min-height: 15%;
}

.header-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    width: 100%;
    font-family: "JetBrainsMono";
}

.header-container-nav .header-col .navbtnContact {
    height: 2.5rem;
    background-color: #111;
    border: solid white 1px;
    font-family: "JetBrainsMono";
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    position: fixed;
    right: 0;
    visibility: hidden;
}


.header-container-nav .header-col .navbtnClose {
    height: 2.5rem;
    background-color: white;
    border-left: solid 0;
    border-top: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    width: 3rem;
    margin-right: 3rem;

}

#navigation {
    color: white;
    font-family: "JetBrainsMono";
    margin-bottom: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0s;
}

.sidenav .header-container .header-col .Logo {
    margin-left: 1rem;
    color: white;
}

.logo-white {
    filter: invert(1) hue-rotate(180deg);
}



.column-sidenav {
    max-width: 30rem;
    margin-right: 2rem;
}

.sidenav .header-container {
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    max-width: 1500px;
}

.sidenav a {
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.1s;

}

.blog-content h1 {
    color: white;
    display: none;
}

.sidenav .post-content {
    color: white;
}


.sidenav .post-head {
    color: white;
}

.sidenav .navContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.columnnav-2 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    margin-right: 2rem;
}


.navBlack a {
    margin-top: 20px;
}


/*LINES*/

.lineblack {
    border-top: 1px solid black;
    width: 100%;
}


.linewhite {
    border-top: 1px solid white;
    width: 26rem;
    margin-top: 50px;
    position: relative;
}

.lineblack-index {
    border-top: 1px solid black;
    width: 100%;
    margin: 6rem auto 3rem;
    clear: left;
}


/*CONTACTFORM*/

.popupform {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    min-height: 900px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    font-family: "JetBrainsMono";
}

.popupform-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 900px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

.popupform-content {
    background-color: #f2f2f2;
    padding: 20px;
}


/*BLOG*/
.index-col-right a {
    color: black;
    font-weight: bolder;
}

/*KONTAKT*/
.contact-title {
    font-family: JetBrainsMono;
    font-size: 6rem;
    font-weight: lighter;
    margin-left: 2rem;
}

.contact-subtitle {
    font-family: JetBrainsMono;
    font-size: 2rem;
    font-weight: lighter;
    margin-left: 2rem;
}


.contact-col-top {
    margin-left: 2rem;
}

.contact-wrapper {
    display: block;
    overflow: hidden;

}

.contact-col-left {
    margin-left: 2rem;
    max-height: 300px;
    width: 35%;
    float: left; /* add this */
}

.contact-col-right {
    max-width: 60%;
    margin-left: auto;
    margin-right: 2rem;
    display: block;
}


/*PRODUCTS*/

.products-col-top {
    margin-left: 2rem;
}

.products-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 93%;

}

.imagetext-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 93%;

}

.products-col-left {
    margin-left: 2rem;
    max-height: 300px;
    float: left; /* add this */
}

.products-col-right {
    margin-left: auto;
    margin-right: 2rem;
    display: block;
    width: 65%;
}

.imagetext-col-right {
    margin-left: auto;
    margin-right: 2rem;
    display: block;
    width: 65%;
}

.imagetext-col-left {
    margin-left: auto;
    margin-right: 2rem;
    display: block;
    width: 65%;
    float: left;
}

.products-col-right a {
    color: black;
    font-weight: bolder;
}


/*INDEX*/

.index-col-left {
    white-space: nowrap;
    margin-left: 3rem;
    margin-bottom: 3rem !important;

}

/* The popup container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 75px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    max-height: 93%;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.index-col-right {
    width: 65%;
    margin-left: auto;
    margin-right: 2rem;
    display: block;
}

.image-title-col-right {
    width: 31%;
    margin-left: auto;
    margin-right: 2rem;
    display: block;
    margin-bottom: 3rem !important;
}

.indextitle {
    font-family: JetBrainsMono;
    font-size: 6rem;
    font-weight: lighter;
    margin-left: 3rem;
}


.references-category {
    margin-left: 3rem;
}

/*REFERENZEN*/


[class^="collapsible-"] {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    height: 250px;
    white-space: nowrap;
    text-align: center;
    border: 1px solid black;
    font-size: 2rem;

}

.collapse-row {
    display: flex;
}

.collapse-card {
    width: 33%;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.2s ease-out;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.header-col a {
    color: black;
    font-size: 40px;
    top: 0;
}

.index-col-left a {
    color: black;
    font-size: 2.5rem;
}

.index-container {
    margin-left: auto;
    margin-right: auto;
    width: 93%;
}

.index-container a {
    color: black;
    font-weight: bolder;
}

.under-section {
    margin-left: 5rem;
    clear: left;
}

.under-section-col-right {

    width: 69%;
    margin-left: auto;
    margin-right: 2rem;
    display: block;


}

.under-section-col-right a {
    color: black;
    font-weight: bolder;
}

.title-left h1 {
    white-space: nowrap;
    width: 0;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
.three-col-block {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, 29rem);
}

.index-col-left img {
    max-height: 3rem;
    margin-top: -2rem;
}


.dropbtn {
    height: 2.5rem;
    background-color: white;
    border-right: solid 1px;
    border-left: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    width: 3rem;
    margin-top: 0.5rem;
    color: black;
}

.sidenav-dropbtn {
    height: 2.5rem;
    background-color: #111;
    border-right: solid white 1px;
    border-left: 0px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    width: 3rem;
    margin-top: 0.4rem;
    color: white;

}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 3.05rem;
    height: 3rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    border: solid black 1px;
    border-top: 0px;
    background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: black;
    color: white
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
    margin-left: -0.05rem;

}


/* The container <div> - needed to position the dropdown content */
.sidenav-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.sidenav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    width: 3.05rem;
    height: 3rem;
}

/* Links inside the dropdown */
.sidenav-dropdown-content a {
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-right: solid white 1px;
    border-left: solid white 1px;
    border-bottom: solid white 1px;
    border-top: solid white 0px;
}

/* Change color of dropdown links on hover */
.sidenav-dropdown-content a:hover {
    background-color: white;
    color: black
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.sidenav-show {
    display: block;
    margin-left: -0.05rem;

}

.sidenav .sidenav-col .sidenav-left img {
    filter: invert(1);
    margin-bottom: 1rem;
}

.under-section .index-col-left img, .under-section .index-col-left a, .under-section .index-col-left h1 {
    display: inline-block;
}

.title-right h2 {
    margin-left: 50%;
    max-width: 50%;
    margin-top: 5rem;
    margin-right: 2rem;
    display: block;
}


ul[class] {
    margin: 0;
    padding: 0;
}

ul[class] li {
    list-style: none;
}

ul[class] li > * {
    margin: 1rem;
}

:focus {
    box-shadow: 0 0 0 0.25rem rebeccapurple;
    outline: 0;
}

/* [1] 'auto-fit' grid columns, so no media queries required. */
/* [2] 'dense' packing fills in holes earlier in the grid. */
.grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense; /* [2] */
    grid-template-columns: repeat(auto-fit, 20rem); /* [1] */
    justify-content: center;
}

.grid > * {
    align-items: flex-start;
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* [3] Make fullwidth card span all grid columns. */
.fullwidth {
    grid-column: 1 / -1;
}

.is-hidden {
    display: none;
}

.fullwidth,
.is-selected {
    background: wheat;
}



.sidenav-right{
    margin-right: 2.4rem;
}

.termsfeed-com---palette-light.termsfeed-com---nb {

    background-color: white!important;
    font-family: "JetBrainsMono"!important;
    border: solid 1px;
}

.termsfeed-com---palette-light .cc-nb-okagree {
    background-color: white!important;
    color: black!important;
    border: solid black 1px;
    border-radius: 0px!important;
}
.termsfeed-com---palette-light .cc-nb-reject {
    background-color: white!important;
    color: black!important;
    border: solid black 1px;
    border-radius: 0px!important;
}

.termsfeed-com---palette-light .cc-nb-changep {
    background-color: black!important;
    color: white!important;
    border: solid black 1px;
    border-radius: 0px!important;
}

.termsfeed-com---palette-light .cc-pc-container{
    font-family: "JetBrainsMono";
}

.termsfeed-com---palette-light .cc-cp-body-tabs{
    font-family: "JetBrainsMono"!important;
}

.termsfeed-com---pc-dialog input[type="checkbox"].cc-custom-checkbox:checked+label:before{
    background: black!important;
}

.termsfeed-com---palette-light .cc-cp-foot-save{
    background-color: black!important;
    color: white!important;
    border: solid black 1px;
    border-radius: 0px!important;
}

.post .post-content a{
    font-size: 20px!important;
}

.form-control{
    max-width: 90%;
}

.pull-right{
    margin-right: 10%;
}

input[type=submit] {

    height: 2.5rem;
    background-color: white;
    border: solid 1px black;
    font-family: "JetBrainsMono";
    margin-top: 0.5rem;
    color: black;
    border-radius: 0;
    padding: 0 1rem;

}
input[type=submit]:hover {

    background: black;
    color: white;

}

.wrap-lname{
    max-width: 210px;
    display: inline-block;
    float: left;
}

.wrap-fname{
    max-width: 210px;
    display: inline-block;
    float: left;
}
